@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --radius: 0.5rem;
}

@layer base {
  :root {
    --tmb-black: #000000;
    --tmb-white: #ffffff;
    --tmb-red: #d92328;
    --tmb-l4-yellow: #ffc20e;
    --tmb-gray-light: #f2f2f2;
    --tmb-text-color: #000000;

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #09090b;
    /* Zinc 950 - Dark and clean */
    color: hsl(var(--foreground));
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }


  #root {
    width: 100%;
    height: 100%;
  }
}